.home{
    background-image: url('../assets/home_background.jpg');
    position: relative;
    padding-bottom: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.home,
.home__wrapper,
.home__container{
    position: relative;
}

.home__wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.home__container{
   z-index: 10;
    width: 100%;
}
.home__text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-block: 40px 28px;
    max-width: 520px;
    font-weight: 600;
}
.home__profile{
    height: 300px;
    width: 300px; 
}






