.resume {
    background-image: url('../assets/resume_background.jpg');
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
}
.resume_main {
    padding-top: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(7, 7, 53);
}
.resume_link {
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .resume {
        margin-right: 100px;
    }
  }